.diana{
    text-align: center;
    height: 80px;
    width: auto;
}
.hueco{
    background-image: url(penal.jpg);
    background-repeat: no-repeat;
    height: 600px;
    background-color: aquamarine;
}
.pistola{
    text-align: center;
    height: 60px;
    background-color: burlywood;
}
.redondo{
    background-color: darkorchid;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: solid black  1px;
    position:absolute;
}
.balon{
    font-size: 40px;
    position:absolute;
}