.diana{
    background-color: antiquewhite;
    display: flex;
    flex-flow: row;
    height: 40px;
    width: auto;
}
.hueco{
    background-image: url(penal.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    height: 600px;
    background-color: #58be7d;
}
.pistola{
    
    height: 30px;
    background-color: burlywood;
}
.balon{
    font-size: 40px;
    height: 30px;
    width: 30px;
    position:absolute;
}
.porteria{  
    font-size: 40px;
    height: 40px;
    width: 40px;
    position:absolute;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.fallos{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 140px;
    margin: 10px;
    color: azure;
    border-radius: 50px;
    background: linear-gradient(145deg, #b40000, #970000);
    box-shadow:  3px 3px 10px #770000,
             -3px -3px 10px #d90000;
}
.goles{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 140px;
    margin: 10px;
    color: azure;
    border-radius: 50px;
    background: linear-gradient(225deg, #1b9003, #177a03);
    box-shadow:  -3px 3px 10px #126002,
                 3px -3px 10px #20ae04;
}

.opciones{
    display: flex;
    height: 70px;
    justify-content: flex-start;
    text-align: center;
    flex-direction: row;
}

.reset{
    cursor: pointer;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 140px;
    margin: 10px;
    color: azure;
    border-radius: 50px;
    background-color: dodgerblue;
}
.velocidades{
    border-radius: 50px;
    height: 20px;
    text-align: center;
    margin: 10px;
    width: 70px;
}