.diana{
    background-color: antiquewhite;
    display: flex;
    flex-flow: row;
    height: 40px;
    width: auto;
}
.hueco{
    background-image: url(penal.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    height: 600px;
    background-color: #58be7d;
}
.pistola{
    text-align: center;
    height: 30px;
    background-color: burlywood;
}
.balon{
    font-size: 30px;
    position:absolute;
}
.porteria{
    font-size: 40px;
    height: 40px;
    position:absolute;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}